@import "shim.pcss";

@import "../../../../node_modules/SplunkWebCore/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";
@import "../../../../node_modules/SplunkWebCore/search_mrsparkle/exposed/js/views/dashboard/DashboardPage.pcss";

@import "globals.pcss";
@import "tabuilder/tabuilder_general.pcss";
@import "tabuilder/sub_view.pcss";
@import "tabuilder/home.pcss";
@import "tabuilder/basic_info.pcss";
@import "tabuilder/global_settings.pcss";
